:root {
    --font-increase: 0px;

    /* basic */
    --black: #000;
    --white: #fff;
    --red: red;

    /* button */
    --button-primary: #c0dcd5;
    --button-secondary: #25d75a;

    // input
    --input-background: #eeecec;
    --input-error: #ffe3e3;
}
