.eventsContainer {
    margin-top: 120px;
    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .title2 {
        text-align: center;
        margin-top: 30px;
    }
    .lineWrapper {
        padding: 40px 0;
    }
    .cardContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .firstRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .secondRow {
            grid-template-columns: repeat(3, 1fr);
            display: grid;
            gap: 10px;
        }
    }
    .cardContainer2 {
        display: flex;
        justify-content: space-between;
    }
}
