.button {
    cursor: pointer;
}
.secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px;
    border: none;
    border-bottom: solid 2px var(--black);
    background-color: var(--button-secondary);

    h4 {
        letter-spacing: -2.7px;
        color: var(--black);
    }
}
.google {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    border: none;
    border-bottom: solid 2px var(--black);
    background-color: var(--input-background);
    gap: 20px;

    h4 {
        letter-spacing: -2.7px;
        color: var(--black);
    }
    font-size: 24px;
    font-family: "Product-sans", sans-serif;
}
.text {
    border: none;
    background-color: var(--white);
    width: max-content;
}
