.button {
    cursor: pointer;
    align-items: center;
}
.primary {
    height: 68px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 40px;
    border-radius: 100px;
    border: solid 1px var(--black);
    background-color: var(--white);
    &:hover {
        cursor: pointer;

        * {
            cursor: pointer;
        }
    }
}
.secondary {
    display: flex;
    justify-content: space-between;
    padding: 12px 22px;
    border: none;
    border-bottom: solid 2px var(--black);
    background-color: var(--button-secondary);
    border-radius: 14px;

    h4 {
        letter-spacing: -1px;
        color: var(--black);
    }
    &:hover {
        cursor: pointer;

        * {
            cursor: pointer;
        }
    }
}
.google {
    display: flex;
    padding: 10px 18px;
    border: none;
    border-bottom: solid 2px var(--black);
    background-color: var(--input-background);
    gap: 20px;
    border-radius: 14px;

    h4 {
        letter-spacing: -2.7px;
        color: var(--black);
    }
    font-size: 24px;
    font-family: "Product-sans", sans-serif;
}
.text {
    border: none;
    background-color: var(--white);
    width: max-content;
    text-align: left;
}

.language {
    border: 2px solid var(--black);
    height: 80px;
    width: 450px;
    text-align: center;
    &:not(:last-child) {
        border-right: 0;
    }
    &:active {
        background-color: var(--input-background);
    }
}
.childrenText {
    display: flex;
    justify-content: center;
    gap: 14px;
}
