@font-face {
    font-family: "Gora-free";
    src: url("../../assets/fonts/Gora-Free.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Product-Sans";
    src: url("../../assets/fonts/productsans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$font-family-gora: "Gora-free", sans-serif;
$font-family-productSans: "Product-Sans", sans-serif;

h1 {
    font-family: $font-family-gora;
    font-size: 82px;
    cursor: default;
}
h1.small {
    font-family: $font-family-gora;
    font-size: 75px;
    cursor: default;
}
h2 {
    font-family: $font-family-gora;
    font-size: 48px;
    cursor: default;
}
h3 {
    font-family: $font-family-productSans;
    font-size: 66px;
    cursor: default;
}
h4 {
    font-family: $font-family-productSans;
    font-size: 54px;
}
h5 {
    font-family: $font-family-productSans;
    font-size: 42px;
}
h6 {
    font-family: $font-family-productSans;
    font-size: 36px;
}
p {
    font-family: $font-family-productSans;
    font-size: 20px;
    cursor: default;
}
p.extraSmall {
    font-family: $font-family-productSans;
    font-size: 16px;
}
