.aboutContainer {
    margin-top: 520px;
    .title {
        color: var(--black);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        width: 100%;
    }
    .about {
        color: var(--black);
        margin-top: 80px;
    }
    .lineWrapper {
        padding: 10px 0;
    }
    .goalText {
        text-align: center;
    }
}
