.card {
    border: 2px solid var(--black);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 420px;
    .imageWrapper {
        max-height: 510px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .numberImage {
            position: absolute;
            left: 20px;
            top: 20px;
            color: var(--white);
        }
    }
    .images {
        width: 420px;
        height: 410px;
        border-radius: 40px 40px 0 0;
    }
    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 350px;
        .header {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            height: 80px;
        }
        .text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            height: 48px;
        }
    }

    .button {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 22px;
        border: none;
        border-bottom: solid 2px var(--black);
        background-color: var(--button-secondary);
        height: 62px;
        border-radius: 20px;
        h4 {
            letter-spacing: -2.7px;
            color: var(--black);
        }
    }
}
