.card {
    border: 2px solid var(--black);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 420px;

    &.card2 {
        border: none;
        justify-content: space-between;
        height: 540px;
        .imageWrapper {
            border: 2px solid var(--black);
            border-radius: 40px;
            max-height: 240px;
            .images {
                height: 240px;
                border-radius: 40px;
            }
        }
        .info {
            border: 2px solid var(--black);
            border-radius: 40px;
            min-height: 264px;
            gap: 30px;
        }
    }

    &.card3 {
        flex-direction: column-reverse;
        .imageWrapper {
            .images {
                border-radius: 0 0 40px 40px;
            }
        }
    }

    .imageWrapper {
        height: 340px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .numberImage {
            position: absolute;
            left: 20px;
            top: 20px;
            color: var(--white);
        }
        .images {
            width: 420px;
            height: 344px;
            border-radius: 50px 50px 0 0;
        }
    }
    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 200px;
        .header {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            height: 80px;
        }
        .text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            height: 48px;
        }
    }

    .button {
    }
}
