.mainBlockWrapper {
    .title {
        margin-top: 30px;
    }
    .text2Wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
    }
    .text {
        width: 250px;
        margin-top: 30px;
    }

    .image {
        background-size: cover;
        background-position: center;
        background-image: url("@assets/images/mainblockImg.png");
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        height: 305px;
        position: relative;
    }
    .buttonPrimary {
        position: absolute;
        top: 75%;
        left: 5%;
    }
}
